<h1>New Address</h1>

<%= form_with model: @address do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <%= @address.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :street %><br>
    <%= form.text_field :street %>
    <%= @address.errors.full_messages_for(:street).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :zip %><br>
    <%= form.text_field :zip %>
    <%= @address.errors.full_messages_for(:zip).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :city %><br>
    <%= form.text_field :city %>
    <%= @address.errors.full_messages_for(:city).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :phone %><br>
    <%= form.text_field :phone %>
    <%= @address.errors.full_messages_for(:phone).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
    <%= @address.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>

